<a href="https://colab.research.google.com/github/BAEJUWAN5316/python_examples/blob/master/250514/250514_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* colab에 좋은 점 : 시각화가 잘 되어 있고, 설치가 필요 없고, 학습을 빠르게 할 수 있다.

* .py에 좋은점 : 실무에서는 colab으로 개발하는 것이 아닙니다! .py로 만들어서 개발해야 합니다!

# 250512 시작

```
여기는 코드로 표현
```
# colab

- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다!
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요 없다!
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요가 없다!

- Ctrl + Enter : 현재 셀 실행
- Alt + Enter : 현재 셀 실행 + 아래 셀 하나 **만들기**

# range

In [ ]:
I = [10, 20, 30, 40]
I # 이렇게 마지막 라인에 한하여 print를 안해도 출력이 됩니다.

[10, 20, 30, 40]

In [ ]:
range(0, 10)
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 아니 왜 이렇게 안 나오지?

range(0, 10)

In [ ]:
# range()는 python2.x 에서는 list였습니다!

In [ ]:
type(range(0,10)) # 왜 range라는 타입일까요?

range

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다
# 그래서 최종 목표는 c의 속도를 따라잡는 것입니다.
# range(10000000000000000) 이렇게 데이터를 생각한다고 생각해보세요.
# 0 ~ 10000000000000000의 숫자를 모두 메모리에 올려야 합니다.
# xrange()라는 것을 만들어서 이를 해결했습니다.
# xrange는 숫자를 생성하지 않고 start, stop, step 값으로 호출을 할 때 하나씩 생성을 하는 방식을 신설
# xrange가 3.xx버전으로 오면서 range가 된 것입니다.

In [ ]:
while True:
    data1 = input("숫자를 넣어주세요 : ")
    if data1 == "1":
        print("히호")
    elif data1 == "5":
        break
    else:
        print("오히호")

숫자를 넣어주세요 : 1
히호
숫자를 넣어주세요 : 2
오히호
숫자를 넣어주세요 : 3
오히호
숫자를 넣어주세요 : 5

In [ ]:
# range()의 인덱싱
range(0,100)[3]

3

In [ ]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [ ]:
# range의 step 음수 값
list(range(100,9,-10))  # 100~9로 범위를 잡아야 마지막 10이 나온다

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
# funtion 이라는 것이 왜 필요했을까?
# 첫번째 이유

def hello():
    x = 10 # 이 코드가 반복되니 이 코드의 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자!
    y = 20
    print(x + y)

hello()
a = 10
hello()
b = 20
hello()
a + b
hello()
a - b
hello()
# >> 코드가 줄어들었다!

30
30
30
30
30

In [ ]:
# 두 번째 이유
# 수만줄의 코드도 아래와 같이 함수로 쌓여있으면 '구조를 파악하기 쉽습니다.'

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기()
지붕올리기()
내부인테리어()

NameError: name '땅파기' is not defined

In [ ]:
# 세 번째 이유
# 알지 않아도 되는 코드를 들여다 보지 않을 수 있어요.
# 추상화 > 내부 구현을 숨기고 필요한 기능만 외부에 노출하는 것!
# 여러분이 자동차를 운전할 때 자동차 페달을 밟는다 해서
# 엔진을 뜯어볼 필요가 있나요?

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기() # 내 과업은 벽돌 쌓기를 수정하는 것입니다.
지붕올리기()
내부인테리어()

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트

def xysum(x, y):  # 함수를 정의하는 부분 > 파라미터
    return x + y

xysum(10, 20) # 함수를 호출하는 부분 > 아규먼트

30

In [ ]:
#파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)

def xysum(x, y):  # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분
# 10과 20은 아규먼트!
# x와 y는 변수가 아니라 파라미터 라고 해야한다!!
# return은 호출한 곳에 값을 리턴해주는 것!

30

In [ ]:
def xysum(x, y):
    return x + y # 나를 호출한 곳에 그대로 이 값을 넣어주세요

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

# 프린트와 리턴은 다르다!!

210

In [ ]:
def a(x, y):
    z = x + y
    return None

print(a(10, 20))

None

In [ ]:
print(print(print('hello')))

hello
None
None

In [ ]:
# 파라미터가 있는 함수
def hello(a):
    return a


# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수
def add(a, b):
    return a + b


# 리턴값이 없는 함수
def add(a, b):
    print(a + b)

In [ ]:
# 문제1 : 주식 그래프를 그리려고 한다. 주식 그래프는 2x + 15와 같은 형식으로 그려지고
# x는 10이라구 주어졌을 때 y값이 얼마인지 구하는 함수를 만드세요

def solution(x):
    return 2*x + 15

solution(10)

35

In [ ]:
# 문제2 : [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬의 요소별로 더하는 함수를 만드세요.


def solution(a,b):
    d = []
    for num in range(len(a)):
        c = a[num] + b[num]
        d.append(c)
    return print(d)

solution([10, 20, 30], [1, 2, 3])

# enumerate  > 두 함수에 값과 인덱스를 넣어준다!
#for i , v in enumerate(a) >>> i에는 순회할 인덱스의 인덱스 위치를, v에는 순회할 인덱스의 값을!

[11, 22, 33]

In [ ]:
# 문제 2번 풀이
# 관습적으로 안 쓰는 코드는 변수"_" 에 할당한다!

# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제 2번의 우아한 풀이??
# 우아한 풀이라는 건 고차함수를 여러개 사용하는 것!

def solution(a, b):
    return list(map(sum,(zip([10,20,30], [1,2,3]))))

solution([10, 20, 30], [1, 2, 3])

# 뭐 지금 알 필요는 없다..

[11, 22, 33]

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]


def solution(matrix, multiplier):
    list1 = []

    for num1 in matrix:
        num2 = num1 * multiplier
        list1.append(num2)
    return list1

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 문제3 고급풀이

def solution(matrix, multiplier):
    return [num1 * multiplier for num1 in matrix]
    # 리스트 컴프레션 이라고 append처럼 순회하며 리스트를 만들 때 쓰면 좋다!
    # 근데 가독성은 안 좋아지므로 2중 이상은 쓰지 않도록 주의

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 리스트 컴플레이션
[i for i in range(1, 10, 2)]

# 파이썬에서는 읽기 좋은 코드에 가치를 높게 평가합니다!

[1, 3, 5, 7, 9]

In [ ]:
# 문제4
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181928
프로그래머스라는 카카오 코딩테스트 보는 사이트다!
'''

def solution(num_list):
    list1 = []
    list2 = []

    for a in num_list:
        if a %2 == 0:
            a = str(a)
            a.append(list1)
        elif a%2 != 0:
            a = str(a)
            a.append(list2)

    join1 = "".join(list1)
    join2 = "".join(list2)
    join1 = int(join1)
    join2 = int(join2)
    return join1 + join2


solution([3, 4, 5, 2, 1])

SyntaxError: invalid syntax (<ipython-input-149-8c02df84b084>, line 2)

In [ ]:
#문제 4 풀이

def solution(num_list):
    짝수 = ''
    홀수 = ''
    for i in num_list:
        if i % 2 == 0:
            짝수 += str(i)
        else:
            홀수 += str(i)
    answer = int(짝수) + int(홀수)
    return answer

solution([3, 4, 5, 2, 1])

393

In [ ]:
# 파라미터에 기본값이 정해져 있는 경우!

def add(x = 10, y = 20):
    return x + y

add()

30

In [ ]:
# 지역변수 전역변수

x = 10

def hello():
    print(x) # 밖에 있는 변수는 읽을 수는 있다!

hello()

30

In [ ]:
x = 10

def hello():
    x += 1 # 밖에 있는 변수를 수정할 수는 없다!

hello()
# 에러!

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
x = 10 # 전역변수라고 한다

def hello():
    x = 100 # 지역변수라고 하고 이 안에서 선언하는 건 가능!! 근데 전역변수와는 다른 함수라고 친다!

# return을 안 쓰면 None이 반환! 그리고 None이 반환되고 나면 지역변수는 사라진다 휘발성!

hello()
print(x)

10

In [ ]:
x = 10

def hello(input_x):
    input_x += 10
    return input_x

x = hello(x) # 초급자의 마음 : 이건 복잡하잖아?
print(x)

20

In [ ]:
# 초급자의 마음
# >> 이건 아주 짧은 코드에서는 맞는 이야기지만
# 실무에서는 깨끗한 코드, 구조화 되어있는 코드, 견고한 코드 등이 필요하므로 위로 사용!

x = 10
x += 10

print(x)

In [ ]:
# hello라는 것은 무엇일까?
# print라는 것은 무엇일까?

# hello든 print든 변수입니다! 함수의 이름은 변수입니다.

In [ ]:
# 대부분 아래 코드는 안 좋은 사례로 꼽힙니다.

x = 10

def hello():
    global x # global을 쓰면 지역변수를 전역변수 처럼 쓸 수 있는데 그럼 지금 만든 보호장치를 없애버리는것!
    x += 100

hello()
print(x)

# 이건 아주 중대하게 전역변수를 바꿔야 할 때!

110

In [ ]:
# locals()
# globals()

In [ ]:
def add(a, b):
    z = a + b
    print(locals())
    return z

add(10, 20)

{'a': 10, 'b': 20, 'z': 30}

30

In [ ]:
a = print
a("hello world")

hello world

In [ ]:
l = [a, a, a, a, a, a]
l[0]('hello')

hello

# 변수

In [ ]:
a = 10
b = a
c = b

c

# 화살표는?
# 1번 : c -> b -> a -> 10

# 2번 : 근데 이게 정답
# a -> 10
# b -> 10
# c -> 10

10

In [ ]:
a = 10
b = a
c = b

c

10

In [ ]:
b = 100
c = b
c

100

# type, dir, id

- type은 앞으로도 자주 사용됩니다 왜냐하면
우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이에요.

- dir은 여러분이 해당 자료형에 있는 속성들을 파악하기 좋습니다.

- id는 해당 자료형이 무엇을 가리키고 있는지 확인하기 좋습니다.

In [ ]:
l = [10, 20, 30, 40]
print(type(l)) #print와 print를 안하는 것은 왜 차이가 있죠?

<class 'list'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
print(a)

10

In [ ]:
# 타입 확인이 이만큼 중요하다
# 예 1) 눈으로 10으로 보인다고 해서 int형이라고 생각하지 마세요.
import numpy as np

data = np.array(10)
print(data)
print(type(data))

10
<class 'numpy.ndarray'>

In [ ]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이죠.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [ ]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

# 이게 왜 중요할까? 코딩하다가 메서드 까먹을까봐??

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 이 빌트인 펑션이 왜 중요하냐면, 앞으로 여러분들이 만날 자료형들은
# 새롭게 만나는 자료형들입니다.
# 예를 들어, 아래 타입을 한 번 살펴보도록 하겠습니다.


# dir을 하면 사용 가능한 메소드가 나온다!
# >> dir을 하는 건 이런 연산이 가능한 자료형이겠구나! 하고 짐작이 가능하기 때문!
# 원하는 메소드를 찾을 수도 있다!

import numpy as np

data = np. array([[10, 20, 30], [40, 50, 60]])
dir(data)

# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고
# 원하는 메서드를 바로 발견할 수도 있습니다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [ ]:
# id

a = 10
b = a
c = b

# 화살표는 어떻게 그렸죠?
id(a), id(b), id(c)

# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10

id(a), id(b)
# 다른 언어에서는 이 값이 다릅니다. 그럼 파이썬에서는 같은가? 아니요
# 아니? 아래 같게 나왔는데요?
# >>> 파이썬에서 메모리를 줄이기 위해 자주 쓸만한 값은 하나의 id로 나오게 한다!(-5 ~ 256 만 같은 값.)

(10751144, 10751144)

In [ ]:
a = 10000
b = 10000

id(a), id(b)
# 다르게 나왔네요?
# 근데 이게 정상.

(138931212929808, 138931212932848)

# print와 print를 안 하는 것의 차이

In [ ]:
# 아직 class를 안 배웠지만, 이 차이를 위해 잠시 이 코드를 사용하겠습니다.

class Customint:
    def __repr__(self):
        return "hello"

    def __str__(self):
        return "hello world"

In [ ]:
a = Customint()

a

hello

In [ ]:
print(a)

hello world

In [ ]:
# print -> 해당 인스턴스에 __str__ 호출
# 그냥 출력 -> 해당 인스턴스에 repr 호출

10

In [ ]:
a = 10
dir(a)
# a.__repr__()  > 그냥 출력! 했을 때 실제 실행되는 함수
# a.__str__()  > print로 출력!

# python built-in functions
* 링크 : https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 fucntions
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance # class 파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
format(100000000, ',')

'100,000,000'

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절댓값으로 바꿔준다
all([True, True, False]) # 안에 있는 값이 다 True여야 True 값을 반환
any ([True, True, False]) # 하나라도 True면 True!
bin(10) # 2진수로 바꿔줍니다. > 알고리즘 문제에서 아주 간혹 출제 됩니다. > 실무에서는 거의 안 씁니다
# oct()
# hex()

# 뽑힌 2진수를 10진수로 다시 바꾸고 싶을 때 :
# int('0b1010'[2:],2) > 슬라이싱으로 '0b'빼고 해주면 된다!

SyntaxError: invalid syntax (<ipython-input-4-4ba637f29e2e>, line 9)

In [ ]:
# 언패킹 > 괄호를 하나 벗겨내는 행동! > 별도의 함수가 있거나 한 건 아니고!

a,b = [10,20]
a

10

In [ ]:
# enumerate
list(enumerate('hello'))
list(enumerate('hello',100))
for i,v in enumerate('hello'):      #보통 i, v 로 변수를 놓는데 i는 index, v는 value
    print(i)

# len > 길이 출력

# format > 뒤의 문법에 따라 바꿔주는데 거의 ',' 이거만 쓴다!
format(1000000, ',') #> 이거!


# input # 주의할 점! 숫자를 입력해도 문자로 입력 받는다!


# range
# range(start,stop,step)
# >> 여기서 나오는 값은 list타입이 아니라 range 타입이다!!

0
1
2
3
4

'1,000,000'

In [ ]:
format(10, 'b') > 2진수로 바꿔준다

'1010'

In [ ]:
#sorted 별표 5개!!
#reversed

s = [10, 20, 5, 4, 3, 8, 19, 3, 2]
sorted(s) #오름차순
sorted(s, reverse=True) #내림차순

# 이게 왜 중요할까요?? #이런 정렬을 할 때가 많습니다.
# 실무에서도 많고, 알고리즘 문제에서도 많아요.
# 주간 판매량 순위 라던가..

[20, 19, 10, 8, 5, 4, 3, 3, 2]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 3
    [1, 1, 2, '김철수', 92, 88, 75],          # 3
    [1, 2, 7, '이', 87, 91, 82],              # 1
    [1, 2, 3, '박민수', 65, 72, 84],          # 3
    [1, 1, 8, '정수진', 91, 85, 93],          # 3
    [1, 3, 1, '강', 76, 79, 88],              # 1
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 7
    [1, 3, 6, '장현우', 82, 67, 71],          # 3
    [1, 1, 10, '조', 95, 89, 97],             # 1
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 6
]

# 문제 1 이름의 글자수 대로 정렬해주세요.
def f(x):
    return len(x[3])

sorted(data, key=f)

[[1, 2, 7, '이', 87, 91, 82],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 1, 5, '홍길동', 78, 54, 39],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 57
    [1, 1, 2, '김철수', 92, 88, 75],          # 85
    [1, 2, 7, '이', 87, 91, 82],              # 86.6
    [1, 2, 3, '박민수', 65, 72, 84],          # 73.66
    [1, 1, 8, '정수진', 91, 85, 93],          # 89.6
    [1, 3, 1, '강', 76, 79, 88],              # 81
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 91
    [1, 3, 6, '장현우', 82, 67, 71],          # 73.33
    [1, 1, 10, '조', 95, 89, 97],             # 93.6
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 76.33
]

# 문제 2 평균대로 정렬
def f(x):
    return (x[4]+x[5]+x[6])/3

sorted(data, key=f, reverse=True)

# 어 근데 어차피 정렬만 할 거면 진짜 평균 안 하고 그냥 합만 구해서 비교해도 되잖아!
# 이런 생각을 잘 하자!!!

[[1, 1, 10, '조', 95, 89, 97],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 1, 5, '홍길동', 78, 54, 39]]

In [ ]:
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 57
    [1, 1, 2, '김철수', 92, 88, 75],          # 85
    [1, 2, 7, '이', 87, 91, 82],              # 86.6
    [1, 2, 3, '박민수', 65, 72, 84],          # 73.66
    [1, 1, 8, '정수진', 91, 85, 93],          # 89.6
    [1, 3, 1, '강', 76, 79, 88],              # 81
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 91
    [1, 3, 6, '장현우', 82, 67, 71],          # 73.33
    [1, 1, 10, '조', 95, 89, 97],             # 93.6
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 76.33
]

# 문제 3 국어 점수와 수학 점수가 가장 점수차가 큰 순서대로 정렬해주세요
def f(x):
    return abs(x[4]-x[6])

sorted(data, key=f, reverse=True)

[[1, 1, 5, '홍길동', 78, 54, 39],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90]]

In [ ]:
# sorted에서 자주 나오는 유형 2번째!
# 정렬 기준이 나에게 없는 경우!


data1 = [
    'Moby Dick',              # 1851
    'To Kill a Mockingbird',  # 1960
    '1984'                    # 1949
    ]
data2 = {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}

def f(x):
    return data2[x]

sorted(data1, key=f)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 우편번호 정렬
# 우편번호 오름차순 순서대로 주소를 정렬하는 코드

data1 = ['A동',
     'B동',
     'C동']

data2 = {'A동': 63007, 'B동': 63010, 'C동': 63002}

# data1 = data[0]
# data2 = data[1]
# 이렇게 러프데이터를 나눠도 된다!

def f(x):
    return data2[x]

sorted(data1, key=f)

['C동', 'A동', 'B동']

In [ ]:
list(reversed ([10, 20, 30])) # 뒤집어 주는 건데 type이 revers라서 list로 해줘야 출력이 된다!

[30, 20, 10]

In [ ]:
filter
map
zip

# isinstance # class 파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
result = 0
for i in range(1,11):
    if i %2 == 0:
        result += i

result

30

In [ ]:
def f(x):
    return x%2 == 0

list(filter(f, range(1,11))) # filter(변수나함수,훑을 내용)

[2, 4, 6, 8, 10]

In [ ]:
def f(x):
    return x%2 == 0

sum(filter(f, range(1,11)))

30

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지

data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]]

def f(x):
    return x[4] >= 0

for i in filter(f, data):
    print(i)

['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280]
['아시아나', 'OZ721', '8C', '이', 29, 18, 3450]
['제주항공', '7C101', '15F', '박지민', 35, 15, 720]
['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900]
['에어부산', 'BX213', '21B', '정', 24, 12, 1250]
['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760]
['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320]
['대한항공', 'KE123', '7F', '송', 33, 21, 6780]
['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890]
['제주항공', '7C505', '17B', '황수진', 40, 14, 940]

In [ ]:
# list 변환하는 것은 하나씩 순회를 돌며 메모리에 적재하기 때문에
# 효율이 나쁩니다.

# map은 함수를 하나씩 실행하는 거!
# map(함수, iterable)

# filter은 return값이 True 인 걸 다 반환
# map은 return 값을 모두 다 리스트로 반환

def f(x):
    return x**2

list(map(f, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지

data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]]

def f(x):
    return x[4]

list(map(f,data))

[42, 29, 35, 51, 24, 38, 47, 33, 26, 40]

In [ ]:
# map은 어떤 데이터를 '추출' 할 때 많이 사용합니다.
# front-end는 입사문제로 map을 자주 출제합니다.

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지

data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 편명과 이름으로 된 새로운 리스트를 만들어 주세요.
def f(x):
    return [x[1], x[3]]

list(map(f,data))

[['KE607', '김민준'],
 ['OZ721', '이'],
 ['7C101', '박지민'],
 ['LJ211', '최서우미래한별'],
 ['BX213', '정'],
 ['TW305', '강민석'],
 ['RS808', '윤지현'],
 ['KE123', '송'],
 ['OZ562', '장하은별님달빛'],
 ['7C505', '황수진']]

In [ ]:

# 문제: 30살 이상인 사람들의 나이 합을 구해주세요!
# 30살 이상인 사람을 filter 해서 나이를 다 더한 다음 필더링 한 사람들의 합을 구해주면 되겠네?
# 방법1: 나이만 map 해서 뽑고 filter로 30살 이상인 사람 추출해서 sum
# 방법2: filter로 30살 이상인 사람 추출한 다음 map으로 나이만 뽑고 sum


# 방법1
# 일부러 f, ff 이런식으로 함수명을 작성하고 있는데
# 실무에서는 실제 기능에 맞춰 함수명을 작성합니다.
# 함수명을 작성하는 것부터가 큰 스트레스입니다.
# ChatGPT로 많이 하기 때문에 요즘에는 스트레스까진 아닙니다.
# def f(x):
#     return x[4]

# def ff(x):
#     return x >= 30

# sum(filter(ff, map(f, data)))

# 방법2
def f(x):
    return x[4] >= 30

def ff(x):
    return x[4]

sum(map(ff, filter(f, data)))

286

In [ ]:
# 문제 1: 짐무게가 20kg 이상인 승객들의 마일리지 평균을 구해주세요!
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 방법1
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

filtering_data = list(map(ff, filter(f, data))) # list 변환했어? 메모리 효율이 안좋은데...
sum(filtering_data) / len(filtering_data) # sum을 했어? 한 번 더 순회를 돌아야 하네...

# 방법2
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

count = 0
sum_result = 0
for i in map(ff, filter(f, data)): # 2번 순회를 돌아야 하는 것을 1번만 순회돈 것입니다.
    count += 1
    sum_result += i

sum_result / count

# 문제 2: 아시아나 항공을 이용하는 40세 미만 승객들의 이름 길이 합을 구해주세요!
def f(x):
    return x[0] == '아시아나' and x[4] < 40

def ff(x):
    return x[3]

len(''.join(map(ff, filter(f, data))))

8

In [ ]:
# zip

a = [10,20,30]
b = (100, 200, 300)
c = 'hello world'

list(zip(a, b, c))  #최솟값 기준으로 묶인다!

[(10, 100, 'h'), (20, 200, 'e'), (30, 300, 'l')]

In [ ]:
# zip

a = [10,20,30]
b = (100, 200, 300)
c = 'hello world'

s = (zip(a, b, c))

for i in s:
    print(i)

for i in s:
    print(i)

# 결과값이 두 번 안 나온다!! 왜???
# map, zip, filter 다 이렇다!

# 변수에서 다시 순회를 돌 수 있도록 초기화를 해줘야 하는데
# 초기화를 해주지 않는 함수입니다.

(10, 100, 'h')
(20, 200, 'e')
(30, 300, 'l')

In [ ]:
iter
next

s = 'hello'

ss = iter(s)

print(next(ss))
print(next(ss))
print(next(ss))
print(next(ss))
print(next(ss))
print(next(ss))


# iter는 ()안에 있는 거를 반복 할 수 있는 객채로 만들어줘 라는 뜻 > 타입이 iter로 바뀜
# next는 ()안에 있는 거를 를 순회하며 하나씩 출력하는 거

<class 'str_ascii_iterator'>

#반복문(while)

In [ ]:
# 언제 for를 사용하고 언제 while을 사용하나요?
# for는 객체를 순회할 때
# while은 정해진 수만큼 순회를 하거나, 무한 반복을 할 때

# 하지만 for도 무한반복을 할 수 있게 할 순 있다!
# > 하지만! 안 하는게 좋다..

In [ ]:
 # while은 조건이 True인 동안 무한반복!
 x = 0

 while x < 10:
    print(x)  # 여기까지 하면 무한반복!
    x += 1 #이러면 종료 가능!

0
1
2
3
4
5
6
7
8
9

In [ ]:
'''
num = 0
for i in range(101):
    if i%2 == 0:
        num += i
print(num)
'''

num = 0
i = 0
while True:
    i += 1
    if i%2 == 0:
        num += i
    if i == 100:
        break
print(num)
# > 이건 좋지는 않다! if를 계속 순회해야 하니까!

2550

In [ ]:
# 위의 코드보다 좋은 코드
x = 0
result = 0

while x < 11:
    result += x
    x += 2 # 종료할 수 있는 연산

result # 이건 if가 없으므로 좀 더 나은!

30

In [ ]:
# 주의해야 할 점
i = 2
j = 1

while i < 10:
    while j < 10:
        print(i, j, i*j)
        j += 1
    i += 1
# j를 1로 리셋해주지 않아서 두 번째 while이 계속 fals상태로 지나가버린다!

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

In [ ]:
# import random

# result = random.randint(1, 100)

# while True:
#     user_input = int(input('1부터 100까지 숫자를 입력하세요.'))
#     if user_input > result:
#         print('더 작은 숫자를 입력하세요.')
#     elif user_input < result:
#         print('더 큰 숫자를 입력하세요.')
#     else:
#         print('정답입니다!')
#         break

In [ ]:
# break, continue 는 while과 for에서 모두 쓸 수 있습니다.
# break는 반복문을 중단하는 것이고
# continue는 다음 반복문으로 넘어가는 것입니다.

# for i in range(10):
#     if i == 3:
#         break
#     print(i)

for i in range(10):
    if i == 3:
        continue
    print(i)

#조건문(match)

In [ ]:
day = '토'

match day:
    case "월" | "화" | "수" | "목" | "금":
        print("평일")
    case "토" | "일":
        print("주말")
    case _:
        print("올바른 요일을 입력하세요")

# 각 값을 따라서 간다!

In [ ]:
# 이전에는 어떻게 사용했는가?

today = '토'

day = {
    '월': '평일',
    '화': '평일',
    '수': '평일',
    '목': '평일',
    '금': '평일',
    '토': '주말',
    '일': '주말',
}

day.get(today, '제대로 입력하세요!')

# get이 좀 더 직관적이라 보기 좋다!

# 클래스(Class)
###아주 중요!!!

In [ ]:
# 클래스는 설계 도면!
# 인스턴스는 생산품
# 클래스 내의 변수 - 멤버 또는 애트리뷰트 라고 부른다
# 클래스 내의 함수 - 메서드라고 부른다

# 자동차!
# 데이터(멤버, 애트리뷰트) # 클래스 내 변수로 선언됩니다. 이것을 멤버 또는 애트리뷰트라고 합니다.
#   * 최대 속도
#   * 최대 탑승객

# 기능(메서드) # 클래스 내 함수로 선언됩니다. 이것을 메서드라고 합니다.
#   * 출발
#   * 정지

In [ ]:
class Car:
    max_spped = 300 # 멤버
    max_people = 5

    def start(self):    # 메서드
        print('출발!')

    def stop(self):
        print('정지!')

car1 = Car() #car1은 인스턴스 , Car()은 클래스
car2 = Car()

print(car1.max_spped)
car1.start()

# car1은 Car의 인스턴스입니다!
value = 10
# value는 int의 인스턴스입니다!
value = 10.0
# value는 float의 인스턴스입니다!
value = [10, 20, 30]
# value는 list의 인스턴스입니다!
value = (10, 20, 30)
# value는 tuple의 인스턴스입니다!

300
출발!

In [ ]:
ㅣ = [10, 20, 30]
ㅣ.append(40)

ㅣ

[10, 20, 30, 40]

In [ ]:
# list()
# tree()
# class는 뭔가 창의적으로 함수를 만들 수 있다!
# list에서 값을 찾으려면 하나씩 순회를 해야하지만 더 빠르게 하는 방법을 만든다던가??
# 결국 속도가 더 빨라진다 > 데이터가 많으면 많을 수록 더 좋은 이점!

# 클래스 변수

In [ ]:
# 클래스 변수 - 설계 도면에 포함되어야 하는 것
# 인스턴스 변수 - 생산품에 포함되어야 하는


class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5

    def __init__(self,구매자):
        # 인스턴스 변수 위치
        # 'self.변수이름'의 형태
        self.차구매자 = 구매자

#클래스에서는 sefl 자리에 자동으로 modela가 들어간다!

modela = Car("구매자1")
modelb = Car("구매자2")

modela.차구매자
modelb.차구매자

'구매자2'

In [ ]:
print(Car.max_speed)
print(modelb.max_people)

300

NameError: name 'modelb' is not defined

In [ ]:
# self의 정체! - self는 해당 인스턴스를 얘기합니다.


class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5

    def __init__(self,구매자):
        # 인스턴스 변수 위치
        # 'self.변수이름'의 형태
        self.차구매자 = 구매자

#클래스에서는 sefl 자리에 자동으로 modela가 들어간다!

modela = Car("구매자1")
modelb = Car("구매자2")


#위의 self사용해서 하는 거랑 같은 뜻이다!
modela.스마트키 = '키티스마트키'
modela.스마트키

'키티스마트키'

In [ ]:
# 클래스가 더 복잡하고 난해하죠?
# 초급자의 마음 : 클래스가 더 복잡한데 왜 이렇게 하지??

# 중급자의 마음: 예를 들어서 print로 출력을 했을 때 출력되는 길이가 너무 긴 경우가 있을 수 있어요
# 데이터 안에 뭐가 많다면 수천자 프린트 될 수도 있다!

# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]
class Passenger: #클래스는 맨 앞글자 대문자로 적어주는게 약속!
    def __init__(self, 항공사, 편명, 좌석번호, 이름, 나이, 짐무게, 마일리지):
        self.항공사 = 항공사
        self.편명 = 편명
        self.좌석번호 = 좌석번호
        self.이름 = 이름
        self.나이 = 나이
        self.짐무게 = 짐무게
        self.마일리지 = 마일리지

p1 = Passenger('대한항공', 'KE607', '12A', '김민준', 42, 23, 5280)
p2 = Passenger('아시아나', 'OZ721', '8C', '이', 29, 18, 3450)
p3 = Passenger('제주항공', '7C101', '15F', '박지민', 35, 15, 720)

p1.이름

'김민준'

In [ ]:
# 중급자의 마음: 예를 들어서 print로 출력을 했을 때 출력되는 길이가 너무 긴 경우가 있을 수 있어요
# 1. 예를 들어 데이터 안에 뭐가 많다면 수천자 프린트 될 수도 있다!
# 2. 예를 들어 data끼리 더해야 될 때가 있어요

# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]
class Passenger: #클래스는 맨 앞글자 대문자로 적어주는게 약속!
    def __init__(self, 항공사, 편명, 좌석번호, 이름, 나이, 짐무게, 마일리지):
        self.항공사 = 항공사
        self.편명 = 편명
        self.좌석번호 = 좌석번호
        self.이름 = 이름
        self.나이 = 나이
        self.짐무게 = 짐무게
        self.마일리지 = 마일리지

p1 = Passenger('대한항공', 'KE607', '12A', '김민준', 42, 23, 5280)
p2 = Passenger('아시아나', 'OZ721', '8C', '이', 29, 18, 3450)
p3 = Passenger('제주항공', '7C101', '15F', '박지민', 35, 15, 720)

p1.이름

'김민준'

In [ ]:
# 중급자는 다음과 같이 해결해요

# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]
class Passenger: #클래스는 맨 앞글자 대문자로 적어주는게 약속!
    def __init__(self, 항공사, 편명, 좌석번호, 이름, 나이, 짐무게, 마일리지):
        self.항공사 = 항공사
        self.편명 = 편명
        self.좌석번호 = 좌석번호
        self.이름 = 이름
        self.나이 = 나이
        self.짐무게 = 짐무게
        self.마일리지 = 마일리지

    def __str__(self):
        return f'{self.이름}, {self.나이}'

    def __add__(self, next):
        return self.마일리지 + next.마일리지

p1 = Passenger('대한항공', 'KE607', '12A', '김민준', 42, 23, 5280)
p2 = Passenger('아시아나', 'OZ721', '8C', '이', 29, 18, 3450)
p3 = Passenger('제주항공', '7C101', '15F', '박지민', 35, 15, 720)

print(p1)
p1+p2

김민준, 42

8730

In [ ]:
class Car:
    max_speed = 300
    max_people = 5

    def __init__(self,구매자): # 클래스가 인스턴스를 찍어낼 때 자동으로 실행
        self.차구매자 = 구매자

modela = Car("구매자1") # Car.__init__(modela, '구매자1')
modelb = Car("구매자2")

modela.차구매자

'구매자1'

In [ ]:

# 클래스 변수
# - 설계 도면에 포함되어야 하는 것,
# - 클래스 바로 아래 선언합니다.
# - 모든 인스턴스가 이 변수를 공유합니다.

# 인스턴스 변수
# - 생산품에 포함되어야 하는 것
# - 보통 __init__ 아래 선언합니다.
# - 인스턴스 고유의 영역입니다.

class Car:
    # 클래스 변수 위치
    max_speed = 300
    max_people = 5

modelx = Car()

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

a = Dot(1, 1)
b = Dot(2, 2)

a + b # '+'기호는 Dot에 __add__를 실행합니다!

TypeError: unsupported operand type(s) for +: 'Dot' and 'Dot'

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return [self.x + next.x, self.y + next.y]

a = Dot(1, 1)
b = Dot(2, 2)

a + b # '+'기호는 a에 __add__를 실행합니다!

[3, 3]

In [ ]:

class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return [self.x + next.x, self.y + next.y]

    def __mul__(self, next):
        return [self.x * next.x , self.y * next.y]

a = Dot(1, 1)
b = Dot(2, 2)

a + b # '+'기호는 a에 __add__를 실행합니다!
a * b # '*'기호는 a에 __mul__를 실행합니다!

In [ ]:
a = 10 # a는 int라는 클래스의 인스턴스 입니다
b = 10 # b는 int라는 클래스의 인스턴스 입니다

a + b # a인스턴스의 __add__를 실행시킨 결과를 보여주세요!
a * b # a인스턴스의 __mul__를 실행시킨 결과를 보여주세요!

100

In [ ]:
l =

In [ ]:

class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __eq__(self, next):
        # return False
        return self.x == next.x and self.y == next.y

a = Dot(1, 1)
b = Dot(1, 2)

a == b # '=='기호는 a에 __eq__를 실행합니다!

False

In [ ]:
# dir(l) # __add__가 있기 때문에 +가 되는 자료형이라는 것을 알 수 있습니다.

In [ ]:
def hello():
    pass

print(type(hello))

<class 'function'>

In [ ]:
class Dot:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __str__(self):
        # return f'<{self.x}, {self.y}>'
        return 'hello world'

a = Dot(1, 1)
b = Dot(2, 2)

print(a) # print는 a의 __str__을 실행합니다.
print(b) # print는 a의 __str__을 실행합니다.

hello world
hello world

In [ ]:

a = 10
# a는 무엇이죠?
# a는 int 클래스의 인스턴스 입니다.

print(a)
# 출력되는 결과는 무엇이죠?
# a 인스턴스의 __str__를 실행시킨 결과(__str__ 메서드의 return)입니다.
# 그 return 값은 10입니다.

In [ ]:
## 문제 1: 간단한 Book 클래스 만들기
# 책을 표현하는 Book 클래스를 만들어보세요. 책은 제목, 저자, 페이지 수를 가지며, 책 정보를 출력하는 기능이 있어야 합니다.


# Book 클래스를 구현하세요
# 요구사항:
# 1. 제목(title), 저자(author), 페이지 수(pages)를 속성으로 가짐
# 2. __str__ 메서드를 구현하여 책 정보를 "제목 (저자, 페이지수 쪽)" 형식으로 출력
# 3. book1과 book2를 비교했을 때 페이지 수가 많은 책이 "더 큰" 책이 되도록 __gt__ 메서드 구현

# 예시 실행 코드

class Book:

    def __init__(self, x, y, c):
        self.x = x
        self.y = y
        self.c = c

    def __str__(self):
        return f"{self.x} ({self.y}, {self.c})"

    def __gt__(self):




book1 = Book("파이썬 기초", "김코딩", 200)
book2 = Book("자바 기초", "이자바", 300)

print(book1)  # 출력 예상: 파이썬 기초 (김코딩, 200 쪽)

파이썬 기초 (김코딩, 200)

In [ ]:
# ---------------------------------------------
## 문제 2: 계산기 클래스 만들기
# 사칙연산을 수행할 수 있는 Calculator 클래스를 만들어보세요.

# Calculator 클래스를 구현하세요
# 요구사항:
# 1. 덧셈, 뺄셈, 곱셈, 나눗셈 기능 구현
# 2. 계산 기록을 저장하는 기능 추가
# 3. 마지막 계산 결과를 기억하고 있어야 함


class Calculator:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __int__(self):
        return self.x + self.y


calc = Calculator(1 ,2)

print(calc)


# 예시 실행 코드

print(calc.add(5, 3))  # 출력 예상: 8
print(calc.subtract(10, 7))  # 출력 예상: 3
print(calc.multiply(4, 2))  # 출력 예상: 8
print(calc.divide(9, 3))  # 출력 예상: 3.0
print(calc.get_history())  # 출력 예상: ['5 + 3 = 8', '10 - 7 = 3', '4 * 2 = 8', '9 / 3 = 3.0']
print(calc.get_last_result())  # 출력 예상: 3.0

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-95-8f356e9ae109>, line 15)

In [ ]:
# ---------------------------------------------
## 문제 3: 간단한 학생 성적 관리 클래스 만들기
# 학생들의 성적을 관리하는 GradeBook 클래스를 만들어보세요.

# GradeBook 클래스를 구현하세요
# 요구사항:
# 1. 학생 이름과 점수를 추가하는 기능
# 2. 전체 학생 목록과 점수를 출력하는 기능
# 3. 최고 점수와 해당 학생 이름을 반환하는 기능
# 4. 평균 점수를 계산하는 기능

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85)
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()  # 모든 학생의 이름과 점수 출력
print(f"최고 점수: {gradebook.get_highest_grade()}")  # 출력 예상: 최고 점수: ('정지원', 95)
print(f"평균 점수: {gradebook.get_average()}")  # 출력 예상: 평균 점수: 87.5

NameError: name 'GradeBook' is not defined

In [ ]:

## 문제 1: 간단한 Book 클래스 만들기
# 책을 표현하는 Book 클래스를 만들어보세요. 책은 제목, 저자, 페이지 수를 가지며, 책 정보를 출력하는 기능이 있어야 합니다.


# Book 클래스를 구현하세요
# 요구사항:
# 1. 제목(title), 저자(author), 페이지 수(pages)를 속성으로 가짐
# 2. __str__ 메서드를 구현하여 책 정보를 "제목 (저자, 페이지수 쪽)" 형식으로 출력
# 3. book1과 book2를 비교했을 때 페이지 수가 많은 책이 "더 큰" 책이 되도록 __gt__ 메서드 구현

#
class Book:
    def __init__(self, title, author, pages):
        # 아래와 같은 코드를 보일러플레이트 코드라고 합니다. 매번 반복적으로 써야 하는 코드이죠.
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return f'{self.title} ({self.author}, {self.pages} 쪽)'

    def __gt__(self, next):
        return self.pages > next.pages

# 예시 실행 코드
book1 = Book("파이썬 기초", "김코딩", 200)
book2 = Book("자바 기초", "이자바", 300)

print(book1)  # 출력 예상: 파이썬 기초 (김코딩, 200 쪽)
print(book2 > book1)  # 출력 예상: True (300 > 200)

파이썬 기초 (김코딩, 200 쪽)
True

In [ ]:

# ---------------------------------------------
## 문제 2: 계산기 클래스 만들기
# 사칙연산을 수행할 수 있는 Calculator 클래스를 만들어보세요.

# Calculator 클래스를 구현하세요
# 요구사항:
# 1. 덧셈, 뺄셈, 곱셈, 나눗셈 기능 구현
# 2. 계산 기록을 저장하는 기능 추가
# 3. 마지막 계산 결과를 기억하고 있어야 함

# 문제가 있는 문제입니다.
# 앞에서 book은 확실히 데이터가 찍어낼 필요가 있는 데이터
# 이러한 계산기는 그냥 함수로 구현하시면 됩니다.
# 굳이 class로 '찍어낼 필요'가 있진 않아요.

class Calculator:
    def __init__(self):
        self.history = []

    def add(self, a, b):
        self.history.append(f'{a} + {b} = {a + b}')
        return a + b

    def subtract(self, a, b):
        self.history.append(f'{a} - {b} = {a - b}')
        return a - b

    def multiply(self, a, b):
        self.history.append(f'{a} * {b} = {a * b}')
        return a * b

    def divide(self, a, b):
        self.history.append(f'{a} / {b} = {a / b}')
        return a / b

    def get_history(self):
        return self.history

    def get_last_result(self):
        return self.history[-1]

# 예시 실행 코드
calc = Calculator()
print(calc.add(5, 3))  # 출력 예상: 8
print(calc.subtract(10, 7))  # 출력 예상: 3
print(calc.multiply(4, 2))  # 출력 예상: 8
print(calc.divide(9, 3))  # 출력 예상: 3.0
print(calc.get_history())  # 출력 예상: ['5 + 3 = 8', '10 - 7 = 3', '4 * 2 = 8', '9 / 3 = 3.0']
print(calc.get_last_result())  # 출력 예상: 3.0

8
3
8
3.0
['5 + 3 = 8', '10 - 7 = 3', '4 * 2 = 8', '9 / 3 = 3.0']
9 / 3 = 3.0

In [ ]:

# ---------------------------------------------
## 문제 3: 간단한 학생 성적 관리 클래스 만들기
# 학생들의 성적을 관리하는 GradeBook 클래스를 만들어보세요.

# GradeBook 클래스를 구현하세요
# 요구사항:
# 1. 학생 이름과 점수를 추가하는 기능
# 2. 전체 학생 목록과 점수를 출력하는 기능
# 3. 최고 점수와 해당 학생 이름을 반환하는 기능
# 4. 평균 점수를 계산하는 기능

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self, name, score):
        self.students.append((name, score))

    def print_grades(self):
        return self.students

    def get_highest_grade(self):
        def f(x):
            return x[1]
        return sorted(self.students, key=f, reverse=True)[0]

    def get_average(self):
        def f(x):
            return x[1]
        return sum(map(f, self.students)) / len(self.students)

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85)
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()  # 모든 학생의 이름과 점수 출력
print(f"최고 점수: {gradebook.get_highest_grade()}")  # 출력 예상: 최고 점수: ('정지원', 95)
print(f"평균 점수: {gradebook.get_average()}")  # 출력 예상: 평균 점수: 87.5

최고 점수: ('정지원', 95)
평균 점수: 87.5

In [ ]:

# ---------------------------------------------
## 나아가기
## 실무라면 어떻게 하는 것이 좋았을까요?
#  >> class로 변환할 수 있는 것은 모두 클래스로 변경!

class Student:
    def __init__(self, name, score, phone='000-0000-0000', email=''):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __str__(self): # print를 하면 출력해주는 문자열
        return f'{self.name}'

    def __repr__(self): # 이 객체를 대표하는 문자열, print를 안하고 출력하면 이 문자열을 출력합니다.
        return f'{self.name}'

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self, name, score):
        self.students.append(Student(name, score))

    def print_grades(self):
        return self.students

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85)
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()

data = gradebook.print_grades()
data[0].score

In [ ]:

# ---------------------------------------------
## 나아가기
## 실무라면 어떻게 하는 것이 좋았을까요?
# => class로 변환할 수 있는 것은 모두 클래스로 변경했을 것입니다.

class Student:
    def __init__(self, name, score, phone, email):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __str__(self): # print를 하면 출력해주는 문자열
        return f'{self.name}'

    def __repr__(self): # 이 객체를 대표하는 문자열, print를 안하고 출력하면 이 문자열을 출력합니다.
        return f'{self.name}'

class GradeBook:
    def __init__(self):
        self.students = []

    def add_student(self, name, score, phone='000-0000-0000', email=''):
        self.students.append(Student(name, score, phone, email))

    def print_grades(self):
        return self.students

# 예시 실행 코드
gradebook = GradeBook()
gradebook.add_student("김철수", 85, '010-5044-2903')
gradebook.add_student("이영희", 92)
gradebook.add_student("박민수", 78)
gradebook.add_student("정지원", 95)

gradebook.print_grades()

data = gradebook.print_grades()
data[0].score
data[0].phone

'010-5044-2903'

In [ ]:
#lambda
# > 이름이 없는 함수
# 함수는 재사용하려고 사용
# 이름이 없는 함수인 lambda는 재사용이 목적이 아니라 함수 기능 자체에 목적

In [ ]:
# lamda가 자주 사용되는 곳은 어딘가요?

# map
# filter
# sorted
#여기에 많이 사용된다

# 다만, 고급 프로그래머는 시도 때도 없이 lambda를 씁니다
# 그리고, 한줄로만 코딩을 하려는 사람이 있다 > 권하지 않는다
# 가독성은 중요하다! 근데 lambda를 너무 겹쳐서 쓰면 가독성이 떨어진다.

In [ ]:
def f(x):
    return x**2

list(map(f,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: x** 2,[1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
# 위의 두 개는 같다!

In [ ]:

# [2, 5, 3, 7, 5, 3, 4, 1, 2, 3]에서 4 이상인 값을 모두 출력하세요. lambda를 통해 구현하세요.

list(filter(lambda x: x >= 4, [2, 5, 3, 7, 5, 3, 4, 1, 2, 3]))

[5, 7, 5, 4]

# 상속

# 견고한 파이썬 10.5

In [ ]:

# 국내 학생

class Student:
    def __init__(self, name, score, phone, email):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __repr__(self):
        return self.name

# 외국학생이 들어왔습니다!? 1 / 10000 명이 들어왔어요.
# 이 한 명을 위해 이 class를 바꾸는 것이 바람직할까요?
# 그래서 이렇게 하고 싶은겁니다. Student에 있는 것을 그대로 사용하고
# 국적만 추가해주는 다른 class를 만드는 것입니다.

class ForeignStudent(Student):
    def __init__(self, name, score, phone, email, country):
        super().__init__(name, score, phone, email)
        self.country = country

# 그럼 이제 학생들 관리할 때 아래와 같이 관리할 수 있을 겁니다.

data = [
    Student("김민준", 85, "010-1234-5678", "minjun@example.kr"),
    Student("이서연", 92, "010-2345-6789", "seoyeon@example.kr"),
    Student("박지훈", 78, "010-3456-7890", "jihoon@example.kr"),
    Student("최수아", 88, "010-4567-8901", "sua@example.kr"),
    Student("정도현", 95, "010-5678-9012", "dohyun@example.kr"),
    Student("강하은", 82, "010-6789-0123", "haeun@example.kr"),
    Student("윤지우", 90, "010-7890-1234", "jiwoo@example.kr"),
    Student("임서진", 79, "010-8901-2345", "seojin@example.kr"),
    ForeignStudent("Emma Wilson", 87, "010-9012-3456", "emma@example.com", "USA"),
    Student("한유진", 93, "010-0123-4567", "yujin@example.kr")
]

data

# for i in data:
#     print(i.score)

[김민준, 이서연, 박지훈, 최수아, 정도현, 강하은, 윤지우, 임서진, Emma Wilson, 한유진]

In [ ]:
class Student:
    def __init__(self, name, score, phone, email):
        self.name = name
        self.score = score
        self.phone = phone
        self.email = email

    def __repr__(self):
        return self. name

class ForeignStudent(Student):
    def __init__(self, name, score, phone, email, country):
        super().__init__(name, score, phone, email)
        self.country = country

data = [
    Student("김민준", 85, "010-1234-5678", "minjun@example.kr"),
    Student("이서연", 92, "010-2345-6789", "seoyeon@example.kr"),
    Student("박지훈", 78, "010-3456-7890", "jihoon@example.kr"),
    Student("최수아", 88, "010-4567-8901", "sua@example.kr"),
    Student("정도현", 95, "010-5678-9012", "dohyun@example.kr"),
    Student("강하은", 82, "010-6789-0123", "haeun@example.kr"),
    Student("윤지우", 90, "010-7890-1234", "jiwoo@example.kr"),
    Student("임서진", 79, "010-8901-2345", "seojin@example.kr"),
    ForeignStudent("Emma Wilson", 87, "010-9012-3456", "emma@example.com", "USA"),
    Student("한유진", 93, "010-0123-4567", "yujin@example.kr")
]

data

[김민준, 이서연, 박지훈, 최수아, 정도현, 강하은, 윤지우, 임서진, Emma Wilson, 한유진]

In [ ]:

class A:
    num = 100
    def move(self):
        print('움직여요!')

class B(A):
    pass

class C(B):
    pass

a = A()
b = B()
c = C()

a.num
b.num
c.num

움직여요
움직여요
움직여요

# 메서드 오버라이딩 중요!!!!!

In [ ]:
만든 메서드 위에 메서드로 덮어쓰는 것!!!
+ 연산을 *로 바꿀 수도 있다..

In [ ]:

class A:
    def move(self):
        print('출발')


class B(A):
    def move(self):
        print('덮어썼지롱!')


b = B()
b.move()

덮어썼지롱!

# 비공개 속성

In [ ]:
#보안이 필요한 서비스에서 코드를 숨길 수 있게해주는 기능!
# 변수 밑에 __ 붙이면 된다!

# __c 이렇게