<a href="https://colab.research.google.com/github/BAEJUWAN5316/python_examples/blob/master/250512/250512_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* colab에 좋은 점 : 시각화가 잘 되어 있고, 설치가 필요 없고, 학습을 빠르게 할 수 있다.

* .py에 좋은점 : 실무에서는 colab으로 개발하는 것이 아닙니다! .py로 만들어서 개발해야 합니다!

# 250512 시작

```
여기는 코드로 표현
```
# colab

- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다!
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요 없다!
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요가 없다!

- Ctrl + Enter : 현재 셀 실행
- Alt + Enter : 현재 셀 실행 + 아래 셀 하나 **만들기**

# range

In [ ]:
I = [10, 20, 30, 40]
I # 이렇게 마지막 라인에 한하여 print를 안해도 출력이 됩니다.

[10, 20, 30, 40]

In [ ]:
range(0, 10)
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 아니 왜 이렇게 안 나오지?

range(0, 10)

In [ ]:
# range()는 python2.x 에서는 list였습니다!

In [ ]:
type(range(0,10)) # 왜 range라는 타입일까요?

range

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다
# 그래서 최종 목표는 c의 속도를 따라잡는 것입니다.
# range(10000000000000000) 이렇게 데이터를 생각한다고 생각해보세요.
# 0 ~ 10000000000000000의 숫자를 모두 메모리에 올려야 합니다.
# xrange()라는 것을 만들어서 이를 해결했습니다.
# xrange는 숫자를 생성하지 않고 start, stop, step 값으로 호출을 할 때 하나씩 생성을 하는 방식을 신설
# xrange가 3.xx버전으로 오면서 range가 된 것입니다.

In [ ]:
while True:
    data1 = input("숫자를 넣어주세요 : ")
    if data1 == "1":
        print("히호")
    elif data1 == "5":
        break
    else:
        print("오히호")

숫자를 넣어주세요 : 1
히호
숫자를 넣어주세요 : 2
오히호
숫자를 넣어주세요 : 3
오히호
숫자를 넣어주세요 : 5

In [ ]:
# range()의 인덱싱
range(0,100)[3]

3

In [ ]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [ ]:
# range의 step 음수 값
list(range(100,9,-10))  # 100~9로 범위를 잡아야 마지막 10이 나온다

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
# funtion 이라는 것이 왜 필요했을까?
# 첫번째 이유

def hello():
    x = 10 # 이 코드가 반복되니 이 코드의 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자!
    y = 20
    print(x + y)

hello()
a = 10
hello()
b = 20
hello()
a + b
hello()
a - b
hello()
# >> 코드가 줄어들었다!

30
30
30
30
30

In [ ]:
# 두 번째 이유
# 수만줄의 코드도 아래와 같이 함수로 쌓여있으면 '구조를 파악하기 쉽습니다.'

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기()
지붕올리기()
내부인테리어()

NameError: name '땅파기' is not defined

In [ ]:
# 세 번째 이유
# 알지 않아도 되는 코드를 들여다 보지 않을 수 있어요.
# 추상화 > 내부 구현을 숨기고 필요한 기능만 외부에 노출하는 것!
# 여러분이 자동차를 운전할 때 자동차 페달을 밟는다 해서
# 엔진을 뜯어볼 필요가 있나요?

땅파기()
땅다지기()
상하수도설치()
벽돌쌓기() # 내 과업은 벽돌 쌓기를 수정하는 것입니다.
지붕올리기()
내부인테리어()

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트

def xysum(x, y):  # 함수를 정의하는 부분 > 파라미터
    return x + y

xysum(10, 20) # 함수를 호출하는 부분 > 아규먼트

30

In [ ]:
#파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)

def xysum(x, y):  # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분
# 10과 20은 아규먼트!
# x와 y는 변수가 아니라 파라미터 라고 해야한다!!
# return은 호출한 곳에 값을 리턴해주는 것!

30

In [ ]:
def xysum(x, y):
    return x + y # 나를 호출한 곳에 그대로 이 값을 넣어주세요

result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)
result

# 프린트와 리턴은 다르다!!

210

In [ ]:
def a(x, y):
    z = x + y
    return None

print(a(10, 20))

None

In [ ]:
print(print(print('hello')))

hello
None
None

In [ ]:
# 파라미터가 있는 함수
def hello(a):
    return a


# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수
def add(a, b):
    return a + b


# 리턴값이 없는 함수
def add(a, b):
    print(a + b)

In [ ]:
# 문제1 : 주식 그래프를 그리려고 한다. 주식 그래프는 2x + 15와 같은 형식으로 그려지고
# x는 10이라구 주어졌을 때 y값이 얼마인지 구하는 함수를 만드세요

def solution(x):
    return 2*x + 15

solution(10)

35

In [ ]:
# 문제2 : [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬의 요소별로 더하는 함수를 만드세요.


def solution(a,b):
    d = []
    for num in range(len(a)):
        c = a[num] + b[num]
        d.append(c)
    return print(d)

solution([10, 20, 30], [1, 2, 3])

# enumerate  > 두 함수에 값과 인덱스를 넣어준다!
#for i , v in enumerate(a) >>> i에는 순회할 인덱스의 인덱스 위치를, v에는 순회할 인덱스의 값을!

[11, 22, 33]

In [ ]:
# 문제 2번 풀이
# 관습적으로 안 쓰는 코드는 변수"_" 에 할당한다!

# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제 2번의 우아한 풀이??
# 우아한 풀이라는 건 고차함수를 여러개 사용하는 것!

def solution(a, b):
    return list(map(sum,(zip([10,20,30], [1,2,3]))))

solution([10, 20, 30], [1, 2, 3])

# 뭐 지금 알 필요는 없다..

[11, 22, 33]

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]


def solution(matrix, multiplier):
    list1 = []

    for num1 in matrix:
        num2 = num1 * multiplier
        list1.append(num2)
    return list1

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 문제3 고급풀이

def solution(matrix, multiplier):
    return [num1 * multiplier for num1 in matrix]
    # 리스트 컴프레션 이라고 append처럼 순회하며 리스트를 만들 때 쓰면 좋다!
    # 근데 가독성은 안 좋아지므로 2중 이상은 쓰지 않도록 주의

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 리스트 컴플레이션
[i for i in range(1, 10, 2)]

# 파이썬에서는 읽기 좋은 코드에 가치를 높게 평가합니다!

[1, 3, 5, 7, 9]

In [ ]:
# 문제4
'''
https://school.programmers.co.kr/learn/courses/30/lessons/181928
프로그래머스라는 카카오 코딩테스트 보는 사이트다!
'''

def solution(num_list):
    list1 = []
    list2 = []

    for a in num_list:
        if a %2 == 0:
            a = str(a)
            a.append(list1)
        elif a%2 != 0:
            a = str(a)
            a.append(list2)

    join1 = "".join(list1)
    join2 = "".join(list2)
    join1 = int(join1)
    join2 = int(join2)
    return join1 + join2


solution([3, 4, 5, 2, 1])

SyntaxError: invalid syntax (<ipython-input-149-8c02df84b084>, line 2)

In [ ]:
#문제 4 풀이

def solution(num_list):
    짝수 = ''
    홀수 = ''
    for i in num_list:
        if i % 2 == 0:
            짝수 += str(i)
        else:
            홀수 += str(i)
    answer = int(짝수) + int(홀수)
    return answer

solution([3, 4, 5, 2, 1])

393

In [ ]:
# 파라미터에 기본값이 정해져 있는 경우!

def add(x = 10, y = 20):
    return x + y

add()

30

In [ ]:
# 지역변수 전역변수

x = 10

def hello():
    print(x) # 밖에 있는 변수는 읽을 수는 있다!

hello()

30

In [ ]:
x = 10

def hello():
    x += 1 # 밖에 있는 변수를 수정할 수는 없다!

hello()
# 에러!

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
x = 10 # 전역변수라고 한다

def hello():
    x = 100 # 지역변수라고 하고 이 안에서 선언하는 건 가능!! 근데 전역변수와는 다른 함수라고 친다!

# return을 안 쓰면 None이 반환! 그리고 None이 반환되고 나면 지역변수는 사라진다 휘발성!

hello()
print(x)

10

In [ ]:
x = 10

def hello(input_x):
    input_x += 10
    return input_x

x = hello(x) # 초급자의 마음 : 이건 복잡하잖아?
print(x)

20

In [ ]:
# 초급자의 마음
# >> 이건 아주 짧은 코드에서는 맞는 이야기지만
# 실무에서는 깨끗한 코드, 구조화 되어있는 코드, 견고한 코드 등이 필요하므로 위로 사용!

x = 10
x += 10

print(x)

In [ ]:
# hello라는 것은 무엇일까?
# print라는 것은 무엇일까?

# hello든 print든 변수입니다! 함수의 이름은 변수입니다.

In [ ]:
# 대부분 아래 코드는 안 좋은 사례로 꼽힙니다.

x = 10

def hello():
    global x # global을 쓰면 지역변수를 전역변수 처럼 쓸 수 있는데 그럼 지금 만든 보호장치를 없애버리는것!
    x += 100

hello()
print(x)

# 이건 아주 중대하게 전역변수를 바꿔야 할 때!

110

In [ ]:
# locals()
# globals()

In [ ]:
def add(a, b):
    z = a + b
    print(locals())
    return z

add(10, 20)

{'a': 10, 'b': 20, 'z': 30}

30

In [ ]:
a = print
a("hello world")

hello world

In [ ]:
l = [a, a, a, a, a, a]
l[0]('hello')

hello

# 변수

In [ ]:
a = 10
b = a
c = b

c

# 화살표는?
# 1번 : c -> b -> a -> 10

# 2번 : 근데 이게 정답
# a -> 10
# b -> 10
# c -> 10

10

In [ ]:
a = 10
b = a
c = b

c

10

In [ ]:
b = 100
c = b
c

100

# type, dir, id

- type은 앞으로도 자주 사용됩니다 왜냐하면
우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이에요.

- dir은 여러분이 해당 자료형에 있는 속성들을 파악하기 좋습니다.

- id는 해당 자료형이 무엇을 가리키고 있는지 확인하기 좋습니다.

In [ ]:
l = [10, 20, 30, 40]
print(type(l)) #print와 print를 안하는 것은 왜 차이가 있죠?

<class 'list'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
print(a)

10

In [ ]:
# 타입 확인이 이만큼 중요하다
# 예 1) 눈으로 10으로 보인다고 해서 int형이라고 생각하지 마세요.
import numpy as np

data = np.array(10)
print(data)
print(type(data))

10
<class 'numpy.ndarray'>

In [ ]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이죠.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [ ]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

# 이게 왜 중요할까? 코딩하다가 메서드 까먹을까봐??

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 이 빌트인 펑션이 왜 중요하냐면, 앞으로 여러분들이 만날 자료형들은
# 새롭게 만나는 자료형들입니다.
# 예를 들어, 아래 타입을 한 번 살펴보도록 하겠습니다.


# dir을 하면 사용 가능한 메소드가 나온다!
# >> dir을 하는 건 이런 연산이 가능한 자료형이겠구나! 하고 짐작이 가능하기 때문!
# 원하는 메소드를 찾을 수도 있다!

import numpy as np

data = np. array([[10, 20, 30], [40, 50, 60]])
dir(data)

# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고
# 원하는 메서드를 바로 발견할 수도 있습니다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [ ]:
# id

a = 10
b = a
c = b

# 화살표는 어떻게 그렸죠?
id(a), id(b), id(c)

# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10

id(a), id(b)
# 다른 언어에서는 이 값이 다릅니다. 그럼 파이썬에서는 같은가? 아니요
# 아니? 아래 같게 나왔는데요?
# >>> 파이썬에서 메모리를 줄이기 위해 자주 쓸만한 값은 하나의 id로 나오게 한다!(-5 ~ 256 만 같은 값.)

(10751144, 10751144)

In [ ]:
a = 10000
b = 10000

id(a), id(b)
# 다르게 나왔네요?
# 근데 이게 정상.

(138931212929808, 138931212932848)

# print와 print를 안 하는 것의 차이

In [ ]:
# 아직 class를 안 배웠지만, 이 차이를 위해 잠시 이 코드를 사용하겠습니다.

class Customint:
    def __repr__(self):
        return "hello"

    def __str__(self):
        return "hello world"

In [ ]:
a = Customint()

a

hello

In [ ]:
print(a)

hello world

In [ ]:
# print -> 해당 인스턴스에 __str__ 호출
# 그냥 출력 -> 해당 인스턴스에 repr 호출

10

In [ ]:
a = 10
dir(a)
# a.__repr__()  > 그냥 출력! 했을 때 실제 실행되는 함수
# a.__str__()  > print로 출력!

# python built-in functions
* 링크 : https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 fucntions
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance # class 파트에서 해드리겠습니다!
# issubclass

iter
next

locals
globals

max
min
sum

In [ ]:
format(100000000, ',')

'100,000,000'

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절댓값으로 바꿔준다
all([True, True, False]) # 안에 있는 값이 다 True여야 True 값을 반환
any ([True, True, False]) # 하나라도 True면 True!
bin(10) # 2진수로 바꿔줍니다. > 알고리즘 문제에서 아주 간혹 출제 됩니다.

In [ ]:
# enumerate
# len
# format
# input
# range

'0b1010'

#반복문(while)[링크 텍스트](https://)

#조건문(match)